@using Cotecna.Vestalis.Core;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <title>@ViewBag.Title</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/style.default.css")" media="screen,print" />    
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/screen.css")" media="screen,print" />
    
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-1.7.2.min.js")"></script>    
    <script type="text/javascript" src="@Url.Content("~/Scripts/vestalis.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.blockUI.js")"></script>

    @RenderSection("headerContent", required: false)
    
    <script type="text/javascript">

        $.ajaxSetup({
            beforeSend: function () {
                $.blockUI({ 
                    message: $('#loading'),
                    css: { cursor: 'default', backgroundColor: 'transparent', border: '0px transparent' },
                    overlayCSS: { backgroundColor: 'White', cursor: 'default' }  
                });
            },
            complete: function () {
                $.unblockUI();
            }
        });

        $(function () {
            InitMainMenu();
        });

        $(document).ready(function () {
            $.unblockUI();

            $("#businessApplicationList").change(function () {
                var businessId = $('#businessApplicationList').val();
                if (!(businessId == undefined || businessId == null || businessId == '')) {     
                    $.post('@Url.Action("SearchServiceOrderApplication", "ServiceOrder")', { businessApplicationId: businessId }, UpdateScreen, "html");
                }
            });
        });

        function UpdateScreen(results) {
           window.location = results;
        }

        function selectBusinessApplication() {
            var businessId = $('#businessApplicationList').val();
            $.post('@Url.Action("SearchServiceOrderApplication", "ServiceOrder")', { businessApplicationId: businessId }, UpdateScreen, "html");
           
        }

        

    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            setupSelects($('#Content select').not('[multiple*=multiple]')); //Get from vestalis script
            setupSelects($('#Heading select').not('[multiple*=multiple]')); //Get from vestalis script
        });
</script>

</head>
<body>
<div id="loading" style="display:none;">
    <h1>
    <img src="@Url.Content("~/Images/indicator.gif")" alt="" width="20%" />
    </h1>
</div>
    <div id="TopBackground" style="background-color: #09aec6;"></div>
    <div id="Container">
        <!-- change logo, header, margin images here -->
        <a href="http://www.cotecna.com/" id="logo" style="left: 45px; top: 45px;">
            <img src="@Url.Content("~/Images/logo.png")" alt="Cotecna at your side" /></a>
        <img src="@Url.Content("~/Images/greekPillar.png")" id="headerImage" style="left: 195px; top: -22px;" />
        <img src="@Url.Content("~/Images/vestalisWireframe.png")" id="marginImage" style="left:-240px;top:150px;" />
        <!-- /change logo, header, margin images here -->
        <div id="Heading">
        
            <ul class="headercontent">
                <li >                    
                    @RenderSection("businessApplications",false)                        
                </li>
                <li>
                    @{
                        string userName = User.Identity.Name;
                        <label class="selectLabel">@string.Format(Resources.Common.LoggedAs,userName)</label>
                     }
                </li>
                <li>                                         
                    @Html.ActionLink(@Resources.Common.ChangePassword, "ChangePassword", "Account")
                </li>
                <li class="last">
                    @Html.ActionLink(@Resources.Common.LogOut, "LogOut", "Home")                                         
                </li>
            </ul>
        </div>
        @{
            int rolesAdminCount = 0;
            int rolesNoAdminCount = 0;
            int clientRole = 0;
            BusinessApplicationByUser applicationByUser = Session["objDefaultBusinessApp"] as BusinessApplicationByUser;
            string[] roles = Roles.GetRolesForUser(User.Identity.Name);
            if(applicationByUser!=null)
            {
             rolesAdminCount= roles.Where(item => item.StartsWith("ApplicationAdministrator_")).ToList().Count;
             rolesNoAdminCount = roles.Where(item => item.Contains("_" + applicationByUser.Prefix) && !item.StartsWith("ApplicationAdministrator_"+ applicationByUser.Prefix)).ToList().Count;
             clientRole = roles.Count(item => item == "Client");
            }
            else
            {
                rolesAdminCount = 1;
            }
        }
        
        <div id="HeadingMenu">
            <div class="cap-left">
            </div>
            <div class="content">
                <ul>
                    @if (User.IsInRole("GlobalAdministrator"))
                    {
                    <li class="first current" id="liCatalogueMenu">
                        <a href="@Url.Action("Index", "Catalogue")" id="catalogueLink">
                                @Resources.Common.AdministrationOptionMenu
                            </a>
                        <span></span>
                        <div class="expand-info"></div>
                    </li>                    
                    }
                    else if (rolesAdminCount > 0 && rolesNoAdminCount>0)
                    {
                        <li id="liServicerOrderMenu">
                            <a href="@Url.Action("Index", "ServiceOrder")" id="serviceOrderLink">
                                
                            </a>
                            <span></span>
                            <div class="expand-info"></div>
                        </li> 
                        <li id="liCatalogueMenu">
                            <a href="@Url.Action("Index", "Catalogue")" id="catalogueLink">
                                @Resources.Common.AdministrationOptionMenu
                            </a>
                            <span></span>
                            <div class="expand-info"></div>
                        </li> 
                    }
                    else if(rolesAdminCount >0)
                    {
                        <li id="liCatalogueMenu">
                            <a href="@Url.Action("Index", "Catalogue")" id="catalogueLink">
                                @Resources.Common.AdministrationOptionMenu
                            </a>
                            <span></span>
                            <div class="expand-info"></div>
                        </li>   
                    }
                    else if (rolesNoAdminCount > 0)
                    {
                    <li class="first current" id="liServicerOrderMenu">
                        <a href="@Url.Action("Index", "ServiceOrder")" id="serviceOrderLink">
                            
                        </a>
                        <span></span>
                        <div class="expand-info"></div>
                    </li>  
                    }
                    else if (clientRole > 0)
                    {
                    <li class="first current" id="liServicerOrderMenu">
                        <a href="@Url.Action("Index", "ServiceOrder")" id="serviceOrderLink">
                            
                        </a>
                        <span></span>
                        <div class="expand-info"></div>
                    </li> 
                    }
                </ul>                
            </div>
            <div class="cap-right"> 
            </div>
            <div class="clear"></div>
        </div>
        <div class="expand-container"></div>
        <div id="PageLayout">
            @if (IsSectionDefined("leftmenu"))
            {
            <div id="LeftMenu">                
                @RenderSection("leftmenu", required: false)                
            </div>
            }
            <div id="Content">
                @RenderBody()
            </div>
            <!-- /div#Content -->
            <div class="clear"></div>
        </div>
        <!-- /div#PageLayout -->
        <div id="Footer">
            <div class="footer-info">
                <div class="left">
                    <span>Copyright &copy; 2012 Cotecna is one of the world’s leading trade inspection,
                        testing and certification companies </span>
                </div>
            </div>
        </div>
        <form action="@Url.Action("Error","Home")" method="post" id="formError">        
        </form>
    </div>
</body>
</html>
