@using Cotecna.Vestalis.Core;
@using Cotecna.Vestalis.Web.Common

@model ResetPasswordModel

@{
    Layout = null;
    ViewBag.Title = "Vestalis" ;     
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <title>@ViewBag.Title</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/style.default.css")" media="screen,print" />    
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/screen.css")" media="screen,print" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/jquery.ui.selectmenu.css")" media="screen,print" />

    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-1.7.2.min.js")"></script>    
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-ui-1.8.20.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/vestalis.js")"></script>    
    
    <script src="@Url.Content("~/Scripts/jquery.validate.js")" type="text/javascript"></script>

<script type="text/javascript">
   $(document).ready(function () {
    
        $("#errorDiv").hide();
        $('#formCatalogueValue').dialog('close');
        $("#resetForm").validate({
        errorElement: "span",
        errorClass: "error",
        rules: {
            UserName: {
                required: true,
                email: true
            },
            CaptchaValue:{
                required : true
            }
        },
        messages: {
            required: "@Resources.ServiceOrder.MandatoryFieldValidationMessage",
            email: "@Resources.Administration.EmailFormatNotValid"
        },
        success: function (span) {
        },
        errorPlacement: function (error, element) {
            var span = element.prev('span');
            error.appendTo(span)
        },
        highlight: function (element, errorClass) {
            var li = $(element).closest('li');
            $(li).addClass(errorClass);
        },
        unhighlight: function (element, errorClass, validClass) {
            var li = $(element).closest('li');
            $(li).removeClass(errorClass);
        },
        invalidHandler: function (event, validator) {
            var a = validator.errorList[0].element.id;
            $('#' + a).focus();
        }
        });

        $("#cancelButton").click(function () {
            window.location = '@Url.Action("Index","Home")';
        });
    });     
</script>

@{
    if (ViewBag.HasErrors!=null && ViewBag.HasErrors)
    {
        Model.CaptchaValue = null;
        <script type="text/javascript">
            $(document).ready(function () {
                $("#CaptchaValue").val(null);
            });
        </script>
    }
}

</head>
<body>
    <div id="TopBackground" style="background-color: #09aec6;"></div>
    <div id="Container">
        <!-- change logo, header, margin images here -->
        <a href="http://www.cotecna.com/" id="logo" style="left: 45px; top: 45px;">
            <img src="@Url.Content("~/Images/logo.png")" alt="Cotecna at your side" /></a>
        <img src="@Url.Content("~/Images/greekPillar.png")" id="headerImage" style="left: 195px; top: -22px;" />
        <img src="@Url.Content("~/Images/vestalisWireframe.png")" id="marginImage" style="left:-240px;top:150px;" />
        <!-- /change logo, header, margin images here -->
        
        <div id="Heading">
      
        </div>
        <div id="HeadingMenu">
          
        </div>

        <div class="expand-container"></div>
        <div id="PageLayout">
            <div id="Content">
                @using (Html.BeginForm("ResetPassword", "ForgetPassword", FormMethod.Post, new { id = "resetForm" }))
                {
                    
                    <div class="form product">

                    <div class="legend">
                        <span>&nbsp;</span>
                        @Resources.Administration.ResetPasswordTitle
                    </div>
                       
                    <ol>
                        <li>
                            <label>
                                <span class="name">@Resources.Administration.Email</span>
                                @Html.TextBoxFor(m => m.UserName, new { @class = "txt" })
                            </label>
                        </li>
                        <li>
                            <label>
                                <span class="name">@Resources.Administration.CaptchaCode</span>
                                <img alt="" id="image" src="@Url.Action("ForgotPasswordCaptcha", "Captcha")" />      	
                            </label>
                        </li>
                        <li>
                            <label>
                                <span class="name">@Resources.Administration.CaptchaValue</span>
                                @Html.TextBoxFor(m => m.CaptchaValue, new { @class = "txt" })
                            </label>
                        </li>
                    </ol>
                    
                    <p class ="btn">
                        
                        <span class="btn">
                            <input type="submit" value="@Resources.Administration.ResetPasswordButton" />
                        </span>

                        <span class="btn2">
                            <input type="reset" value="@Resources.Common.Cancel" id="cancelButton"/>
                        </span>
                        
                    </p>
                    
                    </div>
                    <div class="form">
                        @Html.LocalValidationSummary()
                    </div>
                }
            </div>
            
        </div>
    </div>
</body>
</html>
