@using Cotecna.Vestalis.Core;
@using Cotecna.Vestalis.Web.Common

@model LoginModel

@{
    Layout = null;
    ViewBag.Title = "Vestalis" ;     
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <title>@ViewBag.Title</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/style.default.css")" media="screen,print" />    
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/screen.css")" media="screen,print" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/jquery.ui.selectmenu.css")" media="screen,print" />

    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-1.7.2.min.js")"></script>    
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-ui-1.8.20.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/vestalis.js")"></script>    
    
    <script src="@Url.Content("~/Scripts/jquery.validate.js")" type="text/javascript"></script>

</head>
<body>
    <div id="TopBackground" style="background-color: #09aec6;"></div>
    <div id="Container">
        <!-- change logo, header, margin images here -->
        <a href="http://www.cotecna.com/" id="logo" style="left: 45px; top: 45px;">
            <img src="@Url.Content("~/Images/logo.png")" alt="Cotecna at your side" /></a>
        <img src="@Url.Content("~/Images/greekPillar.png")" id="headerImage" style="left: 195px; top: -22px;" />
        <img src="@Url.Content("~/Images/vestalisWireframe.png")" id="marginImage" style="left:-240px;top:150px;" />
        <!-- /change logo, header, margin images here -->
        
        <div id="Heading">
      
        </div>
        <div id="HeadingMenu">
          
        </div>

        <div class="expand-container"></div>
        <div id="PageLayout">
            <div id="Content" style="width:95%">
                @using (Html.BeginForm((string)ViewBag.FormAction, "Home", FormMethod.Post))
                {
                    
                    <div class="form">

                    <div class="legend">
                        <span>&nbsp;</span>
                        @Resources.Common.Login
                    </div>
                       
                    <ol>
                        <li>
                             <label>
                                <span class="name">@Resources.Administration.Email</span>
                                @Html.TextBoxFor(m => m.UserName, new { @class = "txt" })
                             </label>
                            
                        </li>
                        <li>
                            <label>
                                <span class ="name">@Resources.Common.Password</span>
                                @Html.PasswordFor(m => m.Password, new { @class = "txt" })
                            </label>
                            
                        </li>
                        <li>
                            <label>
                                <a class="linkContent" href="@Url.Action("ForgetPasswordGetEmail", "ForgetPassword")">@Resources.Administration.ForgotPassword</a>
                            </label>
                            
                        </li>
                    </ol>
                    
                    <p class ="btn">
                        <span class="btn2">
                            <input type="submit" value="@Resources.Common.Login" />
                        </span>
                    </p>
                    <br />
                    @Html.LocalValidationSummary()
                    </div>
                }
            </div>
            
        </div>
        

    <div id="Footer">
<div class="footer-info">
<div class="left"><span><b>Disclamer: </b></span><span>Use of the Cotecna Trade Services VESTALIS™ Application, or any part of it requires the user's
    express acceptance of the terms and conditions stipulated below by pressing ACCEPT
    at the end of this notice.
    <br>
    Access to the VESTALIS™ Application is limited to authorised users only. An authorised
    user is the person whose name appears on the first page of the VESTALIS™ Application
    and has been expressly granted a username and a password to access the VESTALIS™
    Application. Any username and password are personal and sharing and/or transferring
    of usernames and passwords are strictly forbidden.
    <br>
    Cotecna Trade Services declines any liability arising out of the client's failure to comply with
    the strictly personal nature of its username and password. If you believe that your
    username and password has been misused, lost or stolen, you must immediately contact
    us at <a href="mailto:cts@cotecna.ch">cts@cotecna.ch</a>.
    <br>
    It is our goal to minimize disruption caused by technical errors and server maintenance.
    However some data or information on Cotecna Trade Services websites may have been created or structured
    in files or formats that are not error-free and we cannot guarantee that our service
    will not be interrupted or otherwise affected by such problems. Cotecna Trade Services accepts
    no responsibility with regards to such problems incurred as a result of using Cotecna Trade Services
    websites or any linked external sites. Cotecna Trade Services shall not be liable for any damages
    caused by viruses that may infect computer equipment, operating systems or browsers.
    <br>
    Cotecna Trade Services may modify these terms and conditions at any time and without notice, and
    you are accordingly advised to keep up to date with changes by regularly reviewing
    this notice.
    <br>
    The information on this site is also subject to the general <a target="_blank" href="http://www.cotecna.ch/COM/EN/misc/disclaimer.aspx">disclaimer</a>, rules related to privacy policy and intellectual property rights.
 </span>
</div>
</div>
</div>

    </div>
</body>
</html>
